/.idea
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/app
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/lang/php_es.json
/resources/lang/php_en.json